---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-1741520-RSvA7Vct2Emb5vrCMIAemwRUEtgse1oLMwbpMFjcf9XrGEVVfu-cas
  recorded_at: Fri, 12 Oct 2018 15:50:51 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1741520-RSvA7Vct2Emb5vrCMIAemwRUEtgse1oLMwbpMFjcf9XrGEVVfu-cas
    body:
      encoding: UTF-8
      string: service=http%3A%2F%2Fumlsks.nlm.nih.gov
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: ST-6244612-DVvdpFmibrfivtxFNoCo-cas
  recorded_at: Fri, 12 Oct 2018 15:50:51 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=MU2%20Update%202016-04-01&ticket=ST-6244612-DVvdpFmibrfivtxFNoCo-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1" displayName="ONC Administrative Sex" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="F" codeSystem="2.16.840.1.113883.5.1" codeSystemName="AdministrativeGender" codeSystemVersion="HL7V3.0_2014-08" displayName="Female"/>
                    <ns0:Concept code="M" codeSystem="2.16.840.1.113883.5.1" codeSystemName="AdministrativeGender" codeSystemVersion="HL7V3.0_2014-08" displayName="Male"/>
                </ns0:ConceptList>
                <ns0:Source>Office of the National Coordinator for Health Information Technology</ns0:Source>
                <ns0:Purpose>(Clinical Focus: Gender identity restricted to only Male and Female used in administrative situations requiring a restriction to these two categories.),(Data Element Scope: Gender),(Inclusion Criteria: Male and Female only.),(Exclusion Criteria: Any gender identity that is not male or female.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2015-03-31</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Fri, 12 Oct 2018 15:50:52 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=MU2%20Update%202016-04-01&ticket=ST-6244616-KS1liwCHefQK6PxofebN-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=MU2%20Update%202016-04-01&ticket=ST-6244619-tOaEdLIj6MGVLJffHzpN-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=MU2%20Update%202016-04-01&ticket=ST-6244620-R2ibYanPeNOvwQNAa2Kq-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
   [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.108.12.1018&profile=MU2%20Update%202016-04-01&ticket=ST-6244626-3buHrcoNvbsk0mFmck4c-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1048&profile=MU2%20Update%202016-04-01&ticket=ST-6244633-3C5DfB1n1weUfTGXEkNN-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1016&profile=MU2%20Update%202016-04-01&ticket=ST-6244636-PvUTPdrqLi4dZe9AjdK9-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1001&profile=MU2%20Update%202016-04-01&ticket=ST-6244639-Hv7x0CrgHGwfLhk5O3II-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.198.12.1005&profile=MU2%20Update%202016-04-01&ticket=ST-6244643-I51gf7Lqcomks1XlwW7c-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.198.12.1020&profile=MU2%20Update%202016-04-01&ticket=ST-6244646-s65Bb53z7dGVi7WWSANq-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.560.100.2&profile=MU2%20Update%202016-04-01&ticket=ST-6244649-s695gRYTD3xbpIxgTuuf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
 [...]
