---
http_interactions:
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/HL7%20C-CDA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"name":"HL7 C-CDA","description":"Consolidated Clinical Document Architecture
        (C-CDA) value sets provide standardized terminology data elements for exchanging
        templated clinical information (e.g., Allergies, Encounters, Immunizations,
        Problems, Procedures, etc.) from electronic health records.","release":[{"name":"C-CDA
        R2.1 2018-02-01","releaseDate":20180201},{"name":"C-CDA R2.1 2017-06-09","releaseDate":20170609},{"name":"C-CDA
        R1.1 2016-06-23","releaseDate":20160623}]}'
  recorded_at: Wed, 28 Mar 2018 15:20:43 GMT
recorded_with: VCR 3.0.3
